#field {
    margin-top: 150px;
}

.cell {
    height: 190px;
    cursor: pointer;
    text-align: center;
    justify-items: center;
    width: 100%;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(33, 33, 33, .3);
}

.cell:hover {
    background-color: azure;

}

@media (max-width: 721px) {
    .cell {
        height: 150px;
    }
}
