#field {
    margin-top: 150px;
}

.cell {
    height: 190px;
    cursor: pointer;
}

.cell:hover {
    background-color: azure;
}

@media (max-width: 721px) {
    .cell {
        height: 150px;
    }
}
